body { 
	text-align: left; 
	font: 75% georgia, 'times new roman', times, sans-serif;
	line-height: 1.88889;
	color: black;  
	margin: 0; 
	padding: 0;
}

#blogroll {
	position: absolute; 
	left: 10px;
	width: 75px;
	text-align: right;
	font: georgia, 'times new roman', times, sans-serif;
	font-size: .8em;
	line-height: 1em;
	padding: .5em;
	border: 1px solid #8A2BE2;
	background-color: #FAF0E6;
}
#switch {
	position: fixed; 
	left: 10px;
	top: 429px;
	width: 75px;
	text-align: right;
	font: georgia, 'times new roman', times, sans-serif;
	font-size: .8em;
	line-height: 1.7em;
	padding: .5em;
	border: 1px solid #8A2BE2;
	background-color: #FAF0E6;
}

#ad {
	 position: absolute; 
	 top: auto; 
	 left: 760px;
}
#ad2 {
	 position: absolute; 
	 top: 1115px; 
	 left: 760px;
}
#ad3 {
	 position: absolute; 
	 top: 1750px; 
	 left: 760px;
}
#ad4 {
	 position: absolute; 
	 top: 2380px; 
	 left: 760px;
}
#ad5 {
	 position: absolute; 
	 top: 3005px; 
	 left: 760px;
}

#cafepress {
	position: absolute; 
	top: 760px;
	left: 760px;
	width: 145px;
	text-align: center;
	font: georgia, 'times new roman', times,sans-serif;
	font-size: .8em;
	line-height: 1em;
	padding: .5em;
	border: 1px solid #8A2BE2;
	background-color: #FAF0E6;
}
#sharing {
	position: absolute;
	top: 950px;
	left: 760px;
	width: 145px;
	text-align: center;
	font: georgia, 'times new roman', times, sans-serif;
	font-size: .8em;
	line-height: 1em;
	padding: .5em;
	border: 1px solid #8A2BE2;
	background-color: #FAF0E6;
}

#copyright 
	/* Note: when changing copyright style */
	/* be sure to change it on index page, */
	/* where there's a hack to make it fall */
	/* beneath table of contents. */
	{
	line-height: 1.2em;
	font-size: .8em;
	margin-left: 130px;
	margin-right: 20px;
	margin-top: 20px;
} 

#container {
	margin-top: 10px;
	margin-left: 130px;
	text-align: left;
	width: 600px;
	overflow:auto;  /* for IE6 */
}
#container p { line-height: 1.7;}

#tableofcontents {
	position: absolute;
	top: 230px;
	left: 130px;
	text-align: left;
	width: 290px;
	overflow:auto;  /* for IE6 */
}

#resourcebox {
	position: absolute;
	top: 230px;
	left: 500px;
	width: 165px;
	text-align: left;
	overflow:auto;  /* for IE6 */
}

h1 { 
	font: normal normal 1.4em georgia, sans-serif;
	letter-spacing: 1px; 
	margin-top: 20px;
	margin-bottom: 0; 
	color: black;
	text-align: center;
}
h2 { 
	font: italic normal 1.4em georgia, sans-serif;
	letter-spacing: 1px; 
	margin-top: 5px;
	margin-bottom: 20px; 
	color: black;
	text-align: center;
}
			
h5 {	/* place header */
	background-color: transparent;
	margin:0;
	padding:0;
	border-bottom:3px solid black;
}
h5 a {
	display:block;
	height:120px;
	width: 663px;
	margin:10px 0px 0px 10px;
	text-indent:-5000px;
	background: transparent url(../images/PowerMobyDickLogo.jpg) no-repeat top left; 
}

/* sidenote styles adapted from arcdis90 sidenotes: http://lab.arc90.com/2006/03/side_note_demo.php */
.sidenoteBox {
	float:right;
}
.sidenoteInner { 
	width: 12em;
	line-height: 1.2em;
	font-size: .8em;
	padding: .5em;
	margin: 1em 0 0 1em;
	}
	
.sidenote_link {
	padding: 0 .3em;
}

.sidenote_color0 {
			border: 1px solid #318484;
			background-color: #D1E8E8;
		}
.sidenote_color1 {
			background-color: #FFF6A9;
			border: 1px solid #F2D700;
		}
.sidenote_color2 {
			background-color: #FFCFCF;
			border: 1px solid #FF3535;
		}
.sidenote_color3 {
			background-color: #CEFFCE;
			border: 1px solid #039B00;
}

.sidenote_color0_hilite {
			border: 1px dashed black;
			background-color: #D1E8E8;
		}
.sidenote_color1_hilite {
			background-color: #FFF6A9;
			border: 1px dashed black;
		}
.sidenote_color2_hilite {
			background-color: #FFCFCF;
			border: 1px dashed black;
		}
.sidenote_color3_hilite {
			background-color: #CEFFCE;
			border: 1px dashed black;
}
.falloutofweek {
			line-height: 1.3em; 
			border: 1px solid #318484; 
			background-color: #D1E8E8; 
			padding: .5em; 
			text-align: center;
}
.boxedfallout {
			line-height: 1.3em; 
			border: 1px solid black; 
			padding: .5em; 
			text-align: center;
}
.unboxedfallout {
			line-height: 1.3em;
}