/* ============================================
   BASE FONTS and TEXT
   ============================================ */
@font-face {
  src: url(../font_DanteMT.ttf);
  font-family: "Dante MT";
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  src: url(../font_CSIL.ttf);
  font-family: "Charis SIL";
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}
body {
  font-family: "Dante MT", sans-serif;
  line-height: 1.3;
  margin: 0;
  padding: 0 0.8em;
  text-align: justify;
}
p {
  margin: 0 0 1em 0;
}
/* Headers, Chapter title and subtitles */
h1, h2 {
  text-align: center;
  margin-top: 1.6em;
  margin-bottom: 0.5em;
}
h1.title {
  font-size: 1.5em;
}
h2.subtitle {
  font-size: 1em;
  margin-top: 0;
}
/* Navigation - remove bullets, padding and margins */
ol.nav-toc {
  list-style-type: none;
  padding: 0;
  margin-left: 2em;
}
/* ============================================
   FOOTNOTE CONTAINER
   ============================================ */
.class_ch_footers {
  display: block;
  text-align: justify;
  border-top-style: solid;
  border-top-width: 2px;
  border-top-color: #04a;
  line-height: 1.3em;
  font-size: 0.9em;
  margin-bottom: 0.1em;
  margin-top: 1.6em;
  padding-top: 1.6em;
}
/* individual footnotes, and backlinks inside footnote */
.class_source, .class_ch_footers aside a.class_footnote {
  font-weight: bold;
  text-decoration: none;
  color: #04a;
}
/* ============================================
   LINKS
   ============================================ */
a {
  text-decoration: none;
}
a:link, a:visited {
  color: #04a;
}
a:hover, .class_ch_footers aside a.class_footnote:hover {
  text-decoration: underline;
}
/* ============================================
   CHAPTER SOURCE-LINK STYLE
   ============================================ */
.class_source {
  font-weight: bold;
  color: #04a;
}
/* ============================================
   MISC / OPTIONAL
   ============================================ */
/* keep images inside boundaries */
img {
  max-height: 100%;
  height: auto;
}
/* full-page embedded SVG embedded images */
.full_page_image {
  display: block;
  float: none;
  height: 100%;
  margin: auto;
}
/* centered images */
.center_image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}